{% extends "base.html" %}
{% block page_content %}
    <h2>Add a book using the Google Books API</h2>
    <div class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="title">By title, author, ISBN, ...</label>

            <div class="controls">

                <div class="input-append">
                    <input id="title" name="title" type="text">
                    <button class="btn" type="button" onclick="searchBookG('title')">Search</button>
                </div>
            </div>
        </div>

        <h2>Results</h2>
        <table class="table table-resultsG">
            <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Publisher</th>
                <th>Thumbnail</th>
            </tr>
            </thead>
            <tbody id="tabResults">
            </tbody>
        </table>

    </div>
    <script src="{{ url_for("static", filename="main.js") }}"></script>
{% endblock %}